.active-enemy-box {
    border: 2px solid rgb(108, 23, 23);
    background-color: #1e0303;
}

.enemy-box {
    padding: 16px;
    border-radius: 24px;
}

.inactive-enemy-box {
    border: 2px solid rgb(10, 10, 10);
    background-color: #211123;
}