.board-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1.5rem;
  height: 100%;
}

.char-grid {
  display: flex;
  flex-direction: column;
}

.char-grid button {
  flex: 1;
  margin-top: 2rem;
}

.control-hub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
