.board-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.char-grid {
  display: flex;
  flex-direction: column;
}

.char-grid button {
  flex: 1;
  margin-top: 2rem;
}

.hub-column {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.inner-hub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
