# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
concept.txt
node_modules
dist
dist-ssr
*.local
**/_template.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.eslintcache
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
