@property --life-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --speed-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --life-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

@property --speed-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

.stat-bar {
  display: inline-flex;
  height: 1rem;
  justify-content: space-between;
  padding: 0.125rem 0.75rem;
  font-size: 0.75rem;
}

.life-bar {
  border-radius: 0.5rem 0.5rem 0 0;
  background: linear-gradient(
    to right,
    var(--life-bg) 0% var(--life-percent),
    var(--black) var(--life-percent)
  );
  transition: 0.5s;
  transition-property: --life-percent, --life-bg;
}

.speed-bar {
  border-radius: 0 0 0.5rem 0.5rem;
  background: linear-gradient(
    to right,
    var(--speed-bg) 0% var(--speed-percent),
    var(--black) var(--speed-percent)
  );
  transition: 0.5s;
  transition-property: --speed-percent, --speed-bg;
}
