@property --life-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --speed-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --life-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

@property --speed-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

.stat-blur {
  backdrop-filter: blur(1px);
  display: inline-flex;
  margin-top: -2px;
  height: calc(100% + 4px);
  width: 100%;
}

.name-text {
  align-self: center;
  margin: auto;
  text-shadow: 4px 4px 8px var(--black);
}

.stat-bar {
  font-size: 1rem;
  margin-top: 2px;
  height: calc(100% - 4px);
  width: 100%;
}

.life-bar {
  border-radius: 0;
  background: linear-gradient(
    to right,
    var(--life-bg) var(--life-percent),
    var(--glass) var(--life-percent)
  );
  transition: 0.5s;
  transition-property: --life-percent, --life-bg;
}

/* TODO: Add speed bar option */
.speed-bar {
  border-radius: 0 0 0.5rem 0.5rem;
  background: linear-gradient(
    to right,
    var(--speed-bg) 0% var(--speed-percent),
    var(--black) var(--speed-percent)
  );
  transition: 0.5s;
  transition-property: --speed-percent, --speed-bg;
}
