.select-btn {
  background-color: var(--teal);
  color: var(--white);

  &:hover {
    background-color: var(--evergreen);
  }
}

.confirm-btn {
  background: var(--sunrise);
  color: var(--black);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--sunset);
  }
}

.seamless-btn {
  background-color: transparent;
  color: var(--white);
}

.small-btn {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.medium-btn {
  font-size: 1.75rem;
  padding: 0.5rem 0.75rem;
}

.large-btn {
  font-size: 2.5rem;
  padding: 0.75rem 1rem;
}
