.w100 {
  width: 100%;
}

.ta-center {
  text-align: center;
}

.df {
  display: flex;
}

.fdr {
  flex-direction: row;
}

.fdrr {
  flex-direction: row-reverse;
}

.fdc {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.pe-none {
  pointer-events: none;
}
