.char-box {
  border: 2px solid var(--gray);
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 36px;
  div:last-of-type {
    margin-bottom: 0;
  }
}

.id-bar {
  border-bottom: 1px solid var(--off-white);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 8px;
  width: 100%;
}

.stat-body {
  display: flex;
  flex-direction: row;
}

.action-column {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  width: 50%;

  button {
    font-size: 16px;
    margin-bottom: 6px;
    text-align: start;
  }

  button:last-of-type {
    margin-bottom: 0;
  }
}

.speed-display {
  color: var(--white);
}
