.name-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  height: 2rem;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.reward-option-container {
  margin: 0 0.5rem;
  width: 100%;
}

.reward-card {
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  flex: 1;
  height: 100%;
  width: 100%;
}

.reward-grid {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 40%;

  @media (width < 1200px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.name-container {
  width: 60%;
  @media (width >= 768px) {
    width: 50%;
  }
  @media (width >= 1200px) {
    width: 40%;
  }
}
