.controls {
  display: flex;
  flex-direction: row;
}

.option {
  width: 50%;
}

.lobby-btn {
  background: var(--dark-green);
  border: none;
  border-radius: 2rem;
  font-size: 3rem;
  padding: 1rem;
  transition: color 0.25s ease-out,
    filter 0.5s ease-out;

  &:hover {
    color: rgb(255, 188, 66);
    filter: drop-shadow(2px 2px 4px rgba(211, 81, 10, 0.3))
    drop-shadow(-2px 2px 4px rgba(211, 81, 10, 0.3))
    drop-shadow(-2px -2px 4px rgba(211, 81, 10, 0.3))
    drop-shadow(2px -2px 4px rgba(211, 81, 10, 0.3));
  }
}

.room-input {
  font-size: 3rem;
  margin-left: 2.5rem;
  padding: 1rem;
}