.board {
    display: flex;
    flex-direction: row;
    cursor: default;
    user-select: none;
}

.action-column {
    margin: auto;
    width: 20%;
}

.player-column {
    width: 40%;
}

.enemy-column {
    width: 40%;
}