.board {
    display: flex;
    flex-direction: row;
    cursor: default;
    user-select: none;
}

.hub-column {
    width: 20%;
}

.filler-column {
    width: 16%;
}

.player-column {
    width: 24%;
}

.enemy-column {
    width: 24%;
}