.central-column {
  margin: 0 1rem 1rem;
  width: calc(100% - 2rem);
}

.advisor-bar {
  background-color: var(--black);
  color: var(--sunrise);
  padding: 6px;
}

.turn-tracker-container {
  background-color: var(--black);
  border: 2px solid var(--chartreuse);
  border-radius: 4px;
  display: flex;
  width: 14%;
  position: relative;
  top: 0;
  flex-direction: column;
  padding: 8px;
}

.name-label {
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-align: start;
}

.confirm-button {
  background-color: var(--sunset);
  border: none;
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
}

.battle-log {
  background-color: var(--off-white);
  border: 1px solid var(--gray);
  color: var(--black);
  height: 32px;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}
