.turn-tracker-container {
    background-color: var(--darkBlue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.turn-tracker {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
}

.name-label {
    padding-left: 0.5rem;
    padding-right: 1rem;
}

