.turn-tracker-container {
  display: inline-flex;
  background-color: var(--black);
  border-bottom: 2px solid var(--rose);
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.name-label {
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-align: start;
}
