.menu-container {
  background-color: transparent;
  border-radius: 0 0 32px 32px;
  height: 200px;
  width: 100%;
}

.weapon-toolbar {
  background-color: #101314;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  width: 100%;
}

.weapon-button {
  background-color: var(--black);
  border: none;
  flex: 1;
  margin: 0 0.125rem;
  padding: 0.75rem 0;
  text-align: center;
  transition: background-color 0.33s ease-in-out;

  &:hover {
    background-color: var(--silver);
    box-shadow: 0 0 0.25rem var(--white);
  }
}

.equipped-weapon {
  background-color: var(--bronze);
  box-shadow: 0 0 0.25rem var(--yellow);
  transition: background-color 0.33s ease-in-out;

  &:hover {
    background-color: var(--sunset);
  }
}

.maneuver-track {
  border: 2px solid var(--white);
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--black);
}

.maneuver-button {
  background-color: var(--black);
  border: 1px solid var(--silver);
  border-top: none;
  color: var(--sunset);
  padding: 0.5rem;

  &[disabled] {
    background-color: var(--gray);
    pointer-events: none;
    outline: none;
  }
}

.maneuver-button:hover {
  background-color: var(--sunset);
  border-bottom: 1px solid transparent;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.selected-maneuver {
  background-color: var(--sunset);
  color: var(--white);
  font-style: italic;
  outline: 1px dashed var(--white);
  transition: background-color 0.3s ease-out;
}
