.container {
  background-color: rgba(11, 10, 10, 0.88);
  height: 100%;
  margin: auto;
  max-width: 100%;
  box-shadow: 0 0 72px rgba(11, 10, 10, 0.82);

  @media (min-width: 576px) {
    max-width: 544px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 928px;
  }
  @media (min-width: 1200px) {
    max-width: 1104px;
  }
  @media (min-width: 1400px) {
    max-width: 1280px;
  }
  @media (min-width: 2000px) {
    max-width: 1880px;
  }
}

.interior {
  padding-top: 20vh;
}
