:root {
  /* Neutrals */
  --white: #FFFFFF;
  --black: #060906;
  --brown: #1E0B12;
  --off-white: #f1f1e2;
  --gray: #424342;
  --silver: #C0C0C0;

  /* Greens */
  --bright-green: #50AF53;
  --black-green: #121812;
  --chartreuse: #BEDF43;
  --dark-green: #183C2B;
  --highlight-green: #112e23;

  /* Reds and Purples */
  --aubergine: #3E154C;
  --deep-maroon: #3C1523;
  --maroon: #451828;
  --plum: #524059;
  --red: #BA2626;

  /* Yellows and Oranges */
  --bronze: #CD7F32;
  --gold: #FFD700;
  --sunrise: #f4a305;
  --sunset: #CC8500;
  --yellow: #FFBC42;

  /* Blues */
  --blue: #24507F;
  --teal: #142C2F;

 /* system-ui, Avenir, Helvetica, Arial, sans-serif */
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

html {
  height: 100%;
}

#root {
  width: 100%;
}