:root {
  /* Neutrals */
  --white: #ffffff;
  --black: #060906;
  --brown: #1e0b12;
  --off-white: #f1f1e2;
  --gray: #424342;
  --silver: #c0c0c0;

  /* Greens */
  --black-green: #121812;
  --chartreuse: #bedf43;
  --dark-green: #183c2b;

  /* Reds and Purples */
  --aubergine: #3e154c;
  --deep-maroon: #3c1523;
  --maroon: #451828;
  --plum: #524059;
  --red: #ba2626;

  /* Yellows and Oranges */
  --bronze: #cd7f32;
  --gold: #ffd700;
  --sunrise: #f4a305;
  --sunset: #cc8500;
  --yellow: #ffbc42;

  /* Blues */
  --blue: #24507f;
  --teal: #142c2f;

  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

html {
  height: 100%;
}

#root {
  width: 100%;
}
