:root {
  /* Neutrals */
  --white: #FFFFFF;
  --black: #060906;
  --brown: #1E0B12;
  --off-white: #f1f1e2;
  --gray: #A4AA9D;

  /* Greens */
  --black-green: #121812;
  --dark-green: #183c2b;
  --bright-green: #50AF53;
  --chartreuse: #BEDF43;

  /* Reds and Purples */
  --red: #BA2626;
  --maroon: #451828;
  --deep-maroon: #3c1523;
  --aubergine: #3E154C;
  --plum: #524059;

  /* Yellows and Oranges */
  --yellow: #FFBC42;
  --sunset: #CC8500;
  --sunrise: #F5A000;

  /* Blues */
  --blue: #24507F;
  --teal: #142C2F;



  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

html {
  height: 100%;
}

#root {
  width: 100%;
}